$white: #fff;
$transperant_gray: rgba(0, 0, 0, 0.1);

$light_shadow: rgba(0, 0, 0, 0.1);
$regular_shadow: rgba(0, 0, 0, 0.2);
$blue_shadow: rgba(16, 49, 182, 0.3);
$darker_shadow: #000000b3;

$dark_cyan: hsl(185, 75%, 39%);
$very_dark_desaturated_blue: hsl(229, 23%, 23%);
$dark_grayish_blue: hsl(227, 10%, 46%);
$dark_gray: hsl(0, 0%, 59%);
