@use "./layout/global-rules" as *;
@use "./pages/home";

@use "./variables/colors" as *;
@use "./variables/media" as *;
@use "./variables/font" as *;
@use "./helpers/mixins" as *;

@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

body {
  min-height: 100vh;
  font-size: $font-size;
  padding: 3em;
  @include center;
  flex-direction: column;
  background-color: $dark_cyan;
  @include media("mobile") {
    padding: 3em 2em;
  }
  main {
    background-color: $white;
    min-width: 350px;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    @include media("mobile") {
      min-width: 330px;
    }
    h1 {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border-width: 0;
    }
    .avatar {
      @include center;
      flex-direction: column;
      position: relative;
      z-index: 2;
      padding: 5em 0 1.4em;
      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 50%;
        top: 0;
        background: url("../images/bg-pattern-card.svg") top/cover no-repeat;
        z-index: -1;
      }
      img {
        border-radius: 50%;
        border: 5px solid $white;
        margin-bottom: 1em;
      }
      .text {
        h2 {
          font-size: $font-size;
          color: $very_dark_desaturated_blue;
          display: inline-block;
          margin-right: 0.25em;
        }
        span {
          color: $dark_grayish_blue;
        }
      }
      p {
        font-size: calc($font-size - 0.2em);
        color: $dark_gray;
        margin-top: 0.5em;
      }
    }
    .info-section {
      @include flex-sb;
      width: 100%;
      padding: 1.25em 2.7em;
      border-top: 1px solid $transperant_gray;
      .info {
        text-align: center;
        h2 {
          font-size: $font-size;
          color: $very_dark_desaturated_blue;
        }
        span {
          font-size: calc($font-size - 0.4em);
          letter-spacing: 0.125em;
          color: $dark_gray;
        }
      }
    }
  }
}

footer {
  font-size: 14px;
  text-align: center;
  padding: 20px;
  width: 100%;
  font-weight: 500;
}
footer a {
  color: $white;
}
